html, body, h1, h2, h3, h4, h5, h6, p, div, section, article {
    margin: 0px;
    padding: 0px;
    font-size: inherit;
    font-weight: inherit;
}
html {
    font-size: 1.8vw;
}
body
{
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

.App {
    width: 80vw;
    margin : 3rem auto;
}
.component
{
    border-top: 1px solid #ccc;
    margin: 5vh 0;
    padding-top: 3vh;

    &:first-child
    {
        border-top: 0px;
    }
}
.description
{
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 1.2rem 0;
}

.headline
{
    font-weight: bold;
}
h1
{
    font-size: 3.5vh;
    line-height: 4vh;
}

h2
{
    font-size: 2.5vh;
    line-height: 3vh;
}
